*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#S
{
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#circle
{   
    border-radius: 50%;
}

#circle:hover{
    background-color: antiquewhite;
}

#square:hover{
    background-color: blue;
}

#dimond{
    rotate:45deg;
    margin-top: 50px;
    height:200/1.414px;
    width:200/1.414px;
}

#dimond:hover{
    background-color: brown;
}
#dimond h1{
    rotate:-45deg;
}

.shapes
{   
    margin-top:10px; 
    margin-left:10px;
    height : 200px;
    width  : 200px;
    border : 1px solid black;
    align-items: center;
    justify-content: center;
    display:flex;
}